{% load static %}
{% include "includes/head.html" %}
{% load filtros %}

<h1>Pedido #{{ pedido.id }}</h1>
<p>Status: {{ pedido.get_status_display }}</p>
<p>Data do Pedido: {{ pedido.data_criacao }}</p>

<table>
    <thead>
        <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Preço Unitário</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for item in itens %}
        <tr>
            <td>{{ item.produto.nome }}</td>
            <td>{{ item.quantidade }}</td>
            <td>R$ {{ item.produto.preco }}</td>
            <td>R$ {{ item.produto.preco|multiply:item.quantidade }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p>Total do Pedido: R$ {{ total_final }}</p>
<a href="{% url 'historico_pedidos' %}">Voltar para Histórico</a>
